* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.card {
    scale: 0.95;
    user-select: none;
    filter: saturate(20%);
    background: linear-gradient(135deg, rgb(247, 111, 61), orange);
    margin: 10px;
    border-radius: 15px;
    width: 250px;
    aspect-ratio: 5 / 7;
    transition: all .4s ease;
    margin-bottom: 25px;
    box-shadow: 3px 3px 10px 1px rgba(32, 15, 0, 0.7);
}

.card h2, p {
    user-select: text;
    margin: 15px;
    text-shadow: 1px 1px 4px #402900;
}

.card p {
    min-height: 60px;
}

.card img {
    display: block;
    background: wheat;
    /* Card Width - 2 * Card Padding - 2 * Img Margin */
    width: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 10px;
    background-size: cover;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.card .details-button {
    position: relative;
    background-color: #26150a;
    color: wheat;
    padding: 20px;
    cursor: pointer;
    border-radius: 15px;
}

.card:hover {
    filter: saturate(100%);
    scale: 1;
}
